@use '../util' as u;

.hero {
    background-color: var(--hero-bg);
    color: var(--text-light);

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__image {
        width: 62%;
        max-width: u.rem(483);
        margin-inline: auto;
        // width: u.rem(200);

        // @include u.breakpoint(large) {
        //     width: u.rem(483);
        // }
    }

    &__text {
        font-family: u.$font;
    }

    &__title {
        font-size: u.rem(42);
    }

    &__content {
        font-size: u.rem(24);
    }

    &__button {
        background-color: var(--button-primary-bg);
        color: var(--button-primary-text);
        padding: u.rem(10);
        border-radius: 24px;
    }
}